---
import { twMerge } from 'tailwind-merge';

interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<h2 class={twMerge("text-2xl font-light text-base-content leading-tight", className)}>
  <slot />
</h2>