---
import Layout from "../layouts/Layout.astro";
import AboutCard from"../components/AboutCard.astro";
---

<Layout>
  <main class="px- md:px-16 lg:px-15 mt-32 mb-20">
  <!--
  <main class="px-15 my-32">
    <h1 class="font-bold text-2xl mt-10 mb-8">Hi, I am Maarif</h1>

    <div class="w-full lg:max-w-4xl indent-3">
    <p>
      I’m a product designer who loves giving life to ideas—whether they take shape as tangible products or intangible, interactive experiences. My work is driven by a belief that thoughtful design can make the everyday feel simpler, more intuitive, and more empowering. I’m currently building a new app that helps first-time parents access personalized, culturally relevant guidance in their native language—supporting children’s growth across physical, cognitive, and emotional development. It’s a project close to my heart: technology meeting care, simplicity meeting depth. Previously, I led the Audio Editing charter at Adobe Express, where I shaped end-to-end workflows that made complex creative tasks feel effortless for millions of emerging creators. Before that, I’ve worked across a range of consumer and creative tools—always with the goal of turning abstract ideas into experiences that feel natural, meaningful, and human. Outside of work, I’m usually exploring new materials, sketching product concepts, or diving into stories about how people interact with technology.Thanks for stopping by.
</p>
    </div>
    -->
    <AboutCard/>
  </main>
</Layout>
