---
import {Image} from "astro:assets"
import H2 from "./CustomUI/H2.astro"
import H3 from "./CustomUI/H3.astro"
---

<section class="max-w-6xl">
    <p class="text-xl font-PPMedium">Hi!</p>
<div class="pb-14 grid grid-cols-12 text-xl">
    <div class="col-span-8 flex flex-col">
            <div class="max-w-xl">
                
                <p class="pt-5">


                I’m a <span class="font-PPMedium">product designer</span> who loves bringing ideas to life, be it physical products or intuitive <span class="font-PPMedium">digital experiences</span> at the intersection of AI and human interfaces.
                </p>
                <p>
                <br/>
                I led Audio Editing at Adobe Express, shaping simple, powerful workflows for millions of creators. I’m currently building an app that helps first-time parents access personalized, culturally relevant child-development guidance.
                </p>
                <p>
                <br>
                Outside work, I explore materials, create handmade furniture and leather items, and study how people interact with technology.
                </br>
                <br>
                Thanks for stopping by.
                </br>
            </div>
    </div>
        <div class="flex col-span-4 justify-center items-center pt-4">
        <Image class="rounded-xl w-full" src="/DP.png" width={1000} height={1000} alt="DP"/>
        </div>
</div>
    <div class="pt-14 border-black/30 flex py-0 justify-between">
    <div><p>M.Des</p>IDC, IIT Bombay</div>
      <div><p>B.Arch</p>JMI, New Delhi</div>
      <div><p>location</p>Bay Area, CA</div>
      <div><p>email</p> reach.maarif@gmail.com</div>
</div>
</section>

