---
interface Props {
  variant?: "transparent" | "muted";
  eyebrow?: string;
  title?: string;
}

const { variant = "transparent", eyebrow, title } = Astro.props;
---

<section class={`px-2 lg:px-0 ${variant === "muted" ? "bg-base-200" : "bg-transparent"}`}>
  <div class={`w-full lg:max-w-5xl mx-auto py-32`}>
    {
      eyebrow && (
        <>
          <p class="font-PP italic thin text-italics text-2xl text-muted-foreground mb-3">
            {eyebrow}
          </p>
          <div class="w-5 h-1 mb-2 bg-base-content" />
        </>
      )
    }

    {title && <h2 class="text-4xl font-PP Thin mb-8">{title}</h2>}

    <div class="prose prose-neutral dark:prose-invert max-w-none">
      <slot />
    </div>
  </div>
</section>
