---

---

<div class="w-full lg:max-w-3xl mb-5 pt-6 font-PPMedium text-3xl/10">
  <p class="mb-5">
    Product Designer with 9 years of experience creating and scaling digital
    products. 
  </p>
  <p class="mb-5">Led the core Audio Editing experience in Adobe Express,
  </br> drove Growth Design for Adobe XD, and earlier 
</br> built the B2B charter at redBus.
  </p>

  <p class="text-balance">Currently based out of <span class="text-black">Bay Area</span>, CA.
  </p>
</div>
<!-- <div class="w-2xl col-span-3 grid grid-cols-2 md:grid-cols-5 gap-2 text-slate-800 font-openSans">
<p> 
  <span class="inline-flex items-center gap-1 mx-1">
    <img src="/Express.png" alt="Adobe Express" class="w-5 h-5" />
    <span class="font-medium text-xs">Adobe Express</span>
  </span> 
</p>
<p> 
  <span class="inline-flex items-center gap-1 mx-1">
    <img src="/CC.png" alt="Adobe Creative Cloud" class="w-7 h-5" />
    <span class="font-medium text-xs">Adobe CC</span>
  </span> 
</p>
<p> 
  <span class="inline-flex items-center gap-1 mx-1">
    <img src="/Xd.png" alt="Adobe Xd" class="w-5 h-5" />
    <span class="font-medium text-xs">Adobe Xd</span>
  </span> 
</p>
<p> 
  <span class="inline-flex items-center gap-1 mx-1">
    <img src="/redbus.png" alt="Adobe Express" class="w-7 h-5" />
    <span class="font-medium text-xs">redBus</span>
  </span> 
<p> 
  <span class="inline-flex items-center gap-1 mx-1">
    <img src="/Leaf.png" alt="Adobe Express" class="w-5 h-5" />
    <span class="font-medium text-sms">Leaf Tech</span>
  </span> 
</p>

  </div>-->
